
<div class="recipeItems_recipes_show">
  <p>
    <h1><%= @recipe.name %></h1>
  </p>
  <p>
    <img src='<%= @recipe.img_url %>' class="foodImage"/>
  </p>

  <p>
    <span class="displayLabelText_recipes"> 
      Course: 
    </span>
    <%= @recipe.course %>
  </p>

  <p>
    <span class="displayLabelText_recipes"> 
      Time: 
    </span>
    <%= @recipe.cook_time %>
  <span class="displayLabelText_recipes"> 
      Srv Size: 
    </span>
    <%= @recipe.serving_size %>
  </p>
  

  <p>
    <%= @recipe.instructions %>
  </p>


  <p>
    <%= link_to 'Edit', edit_recipe_path(@recipe), method: :get, :class => "btn" %>
    <%= link_to 'Delete', recipe_path(@recipe), method: :delete, :class => "btn" %>
  </p>

  <% if @recipe.cookbook.present? %>
  <p>
    <span class="displayLabelText_recipes"> 
      From Cookbook:
    </span>
     <%= link_to @recipe.cookbook.title, @recipe.cookbook %>
  </p>

  <% else %>

    <span class="displayLabelText_recipes"> 
      From Cookbook:
    </span>

   <% end %>
  
</div>

