<%= form_for(@cookbook) do |f| %>
  <span class="formLabelText"> 
    <%= f.label :title %>
  </span>
    <%= f.text_field :title %></br>
  <span class="formLabelText"> 
    <%= f.label :cuisine %>
  </span>
    <%= f.text_field :cuisine %></br>
  <span class="formLabelText"> 
    <%= f.label :description %>
  </span>
    <%= f.text_area :description, :cols => 20, :rows => 2%></br>



  <% @recipes.each do |recipe| %>
    <input type="checkbox" name="<%= recipe[:name] %>" <%= recipe[:inBook]%> >
      <%= recipe[:name] %>
    </input>
  </br>
  <% end %>

  <br/>

  <%= f.submit :class => "btn" %>

<% end %>